@import "../../styles.css";
.carouselImagesContainer {
    overflow: hidden;
    width: var(--carousel-width);
    height: var(--carousel-height);
}

.carouselButtonsContainer {
    text-align: center;
}
