:root {
    --carousel-height: 400px;
    --carousel-width: 100%;
    --button-background: #3c67ab;
    --button-color: white;
    --font-size: 14px;
    --header-font-size: 40px;
    --header-color: #206ca7;
    --header-background-color: #bee6a1;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Ropa Sans', sans-serif;
}

.pageHeaders {
    background-color: var(--header-background-color);
    color: var(--header-color);
    font-size: var(--header-font-size);
    padding: 20px;
}
