@import "../../styles.css";
.navigationButton {
    background-color: var(--button-background);
    color: var(--button-color);
    font-size: var(--font-size);
    outline: none;
    padding: 10px;
    cursor: pointer;
}

.forward {
    border-radius: 0 10px 10px 0;
}

.backward {
    border-radius: 10px 0 0 10px;
}
